.chartContainerStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartStyle{
  width: 400px;
  height: 400px;
  margin: 60px;
}

.GenderAndAge{
  display: flex;
  justify-content: space-between;
}

.flex-Questions{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.optionsStyles{
  display: flex;
  justify-content: space-between;
}